@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">CRUD Funcionario</h1>
        <a class="btn btn-block btn-dark" asp-controller="Departamentos" asp-action="Index">Cadastrar Departamento</a>
        <a class="btn btn-block btn-dark" asp-controller="Funcionarios" asp-action="Index">Cadastrar Funcionario</a>
        <a class="btn btn-block btn-dark" asp-controller="GradeSalarios" asp-action="Index">Cadastrar Salario</a>
    </div>


